
<table class="table table-bordered table-responsive-xl">
    <thead >
        <tr >
            <th scope="col"><h4 class="text-danger text-center">{{ WeekDays.mon }}</h4></th>
            <th scope="col"><h4 class="text-danger text-center">{{ WeekDays.tue }}</h4></th>
            <th scope="col"><h4 class="text-danger text-center">{{ WeekDays.wed }}</h4></th>
            <th scope="col"><h4 class="text-danger text-center">{{ WeekDays.thu }}</h4></th>
            <th scope="col"><h4 class="text-danger text-center">{{ WeekDays.fri }}</h4></th>
            <th scope="col"><h4 class="text-danger text-center">{{ WeekDays.sat }}</h4></th>
            <th scope="col"><h4 class="text-danger text-center">{{ WeekDays.sun }}</h4></th>
        </tr>
    </thead>
    <tbody (click)="NewAlert()">
        <tr>
            <th><h1 class="text-info text-center">1</h1></th>
            <th><h1 class="text-info text-center">2</h1></th>
            <th><h1 class="text-info text-center">3</h1></th>
            <th><h1 class="text-info text-center">4</h1></th>
            <th><h1 class="text-info text-center">5</h1></th>
            <th><h1 class="text-info text-center">6</h1></th>
            <th><h1 class="text-info text-center">7</h1></th>
        </tr>
        <tr>
            <th><h1 class="text-info text-center">8</h1></th>
            <th><h1 class="text-info text-center">9</h1></th>
            <th><h1 class="text-info text-center">10</h1></th>
            <th><h1 class="text-info text-center">11</h1></th>
            <th><h1 class="text-info text-center">12</h1></th>
            <th><h1 class="text-info text-center">13</h1></th>
            <th><h1 class="text-info text-center">14</h1></th>
        </tr>
        <tr>
            <th><h1 class="text-info text-center">15</h1></th>
            <th><h1 class="text-info text-center">16</h1></th>
            <th><h1 class="text-info text-center">17</h1></th>
            <th><h1 class="text-info text-center">18</h1></th>
            <th><h1 class="text-info text-center">19</h1></th>
            <th><h1 class="text-info text-center">20</h1></th>
            <th><h1 class="text-info text-center">21</h1></th>
        </tr>
        <tr>
            <th><h1 class="text-info text-center">22</h1></th>
            <th><h1 class="text-info text-center">23</h1></th>
            <th><h1 class="text-info text-center">24</h1></th>
            <th><h1 class="text-info text-center">25</h1></th>
            <th><h1 class="text-info text-center">26</h1></th>
            <th><h1 class="text-info text-center">27</h1></th>
            <th><h1 class="text-info text-center">28</h1></th>
        </tr>
        <tr>
            <th><h1 class="text-info text-center">29</h1></th>
            <th><h1 class="text-info text-center">30</h1></th>
            <th><h1 class="text-info text-center">31</h1></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
     
    </tbody>
</table>

